<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- Include Lucide icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>SpaceX Panel Demo</title>
</head>

<body>
    <header><h2>SPACEXPANEL DEMO</h2></header>

    <!-- Hero Section -->
    <section class="hero">
        <!-- Heading -->
        <section class="content">
            <div class="hero-head">The best SMM panel. Super cheap & super fast!</div>
            <p>Step up your social media game using various SMM services that we offer.</p>
        </section>

        <!-- Call to Action -->
        <section class="call-to-action">
            <div class="card    ">
                <h2>Log into your account</h2>
                <form id="login-form" action="#" method="post">
                    <div class="input-group">
                        <i data-lucide="user" class="input-icon"></i>
                        <input type="text" name="uname-email" id="uname-email" placeholder="Username/email" required>
                    </div>

                    <div class="input-group">
                        <i data-lucide="lock" class="input-icon"></i>
                        <input type="password" name="passwd" id="passwd" placeholder="Password" required>
                    </div>

                    <div class="row-3">
                        <div class="checkbox">
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember">Remember me?</label>
                        </div>
                        <a href="#" class="forgot-password">Forgot password?</a>
                    </div>

                    <button type="submit" class="submit-btn">Sign in</button>
                </form>

                <div class="create-account">
                    Create an <a href="#">account</a>
                </div>
            </div>
        </section>



    </section>

    <!-- <section class="hero">

        <section class="content">
            <div class="hero-head">The best SMM panel. Super cheap & super fast!</div>
            <p>Step up your social media game using various SMM services that we offer.</p>
        </section>

        <section class="call-to-action">
            {% if errorText %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ errorText }}
            </div>
            {% endif %}
            {% if successText %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ successText }}
            </div>
            {% endif %}
            <div id="signin">
                <h2>Log into your account</h2>
                <form id="login-form" action="#" method="post">
                    <div class="input-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="user" class="lucide lucide-user input-icon">
                            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        <input type="text" name="username" placeholder="{{ lang['signin.username'] }}" required>
                    </div>

                    <div class="input-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="lock" class="lucide lucide-lock input-icon">
                            <rect width="18" height="11" x="3" y="11" rx="2" ry="2"></rect>
                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg>
                        <input type="password" name="password" placeholder="{{ lang['signin.password'] }}" required>
                    </div>

                    <div class="row-3">
                        <div class="checkbox">
                            <input type="checkbox" value="1" name="LoginForm[remember]">
                            <label for="remember">{{ lang['signin.remember']
                                }}</label>
                        </div>
                        {% if resetPage %}
                        <a href="{{site[" url"]}}/resetpassword" class="forgot-password">{{ lang['signin.password.lost']
                            }}</a>
                        {% endif %}
                    </div>

                    <input type="submit" value="{{ lang['signin.button'] }}" class="submit-btn">
                </form>

                {% if site["modules"]["google_login"] %}
                <div id="google_login">
                    <a class="google-login-btn" href="/auth/google-login"><i class="fab fa-google"
                            aria-hidden="true"></i> Continue with Google</a>
                </div>
                {% endif %}

                <div class="create-account">
                    {{lang["signin.noaccount"]}} <a href="{{ site['url'] }}/signup">{{ lang['signup.button'] }}</a>
                </div>
            </div>
        </section>
    </section> -->

    <!-- Why choose us? -->
    <section class="container">
        <div class="heading-section">
            <h3>Why Choose Us?</h3>
            <p>Learn what makes our panel stand out on the market.</p>
        </div>

        <div class="outer-wrapper">
            <div class="pendant-wrapper">
                <div class="pendant-item">
                    <h4 class="component-title">Superb Quality</h4>
                </div>
                <p class="component-description">Different payment options</p>
            </div>

            <div class="pendant-wrapper">
                <div class="pendant-item pendant-item--highlighted">
                    <h4 class="component-title">Extra Affordable</h4>
                </div>
                <p class="component-description">All SMM services on our panel are extra cheap.</p>
            </div>

            <div class="pendant-wrapper">
                <div class="pendant-item">
                    <h4 class="component-title">Different Payment Options</h4>
                </div>
                <p class="component-description">You can add funds via a payment option you prefer.</p>
            </div>

            <div class="pendant-wrapper">
                <div class="pendant-item pendant-item--highlighted">
                    <h4 class="component-title">Delivered Quickly</h4>
                </div>
                <p class="component-description">You will be amazed at how speedy our order delivery is.</p>
            </div>
        </div>

    </section>


    <!-- <div id="auth-container">


        <div id="signup">
            <h2>Create an Account</h2>
            <form action="#" method="post">
                <input type="text" name="uname" id="uname" placeholder="Username">
                <input type="email" name="email" id="email" placeholder="Email Address">
                <input type="password" name="passwd" id="passwd" placeholder="Password">
                <input type="password" name="cpasswd" id="cpasswd" placeholder="Confirm Password">
                <div class="checkbox">
                    <input type="checkbox" name="remember">
                    <label for="remember"> I have read and agreed with <a href="#">Terms of Service</a></label>
                </div>
                <input type="submit" value="Create Account">
            </form>

            <span>Already a user? <a href="#">Sign in</a></span>
        </div>

        <div id="forget">
            <h2>Forget Password?</h2>
            <form action="#" method="post">
                <input type="email" name="email" id="email" placeholder="Your Email">
                <input type="submit" value="Reset Password">
            </form>
            <span>Go back to <a href="#">Sign in</a></span>
        </div>
    </div> -->

    <!-- How it works? -->
    <section class="container">
        <div class="heading-section">
            <h3>How it works</h3>
            <p>4 easy steps to give your business new heights.</p>
        </div>

        <div class="steps-wrapper">
            <div class="step1">
                <h4 class="steps-title">1. Signup</h4>
                <div class="divider"></div>
                <p class="steps-description">Start with signing up and logging in to your account.</p>
            </div>
            <div class="step2">
                <h4 class="steps-title">2. Add funds</h4>
                <div class="divider"></div>
                <p class="steps-description">Choose a suitable payment method to add funds to your account. </p>
            </div>
            <div class="step3">
                <h4 class="steps-title">3. Select SMM services</h4>
                <div class="divider"></div>
                <p class="steps-description">Place orders and get ready to see your business gain more popularity.</p>
            </div>
            <div class="step4">
                <h4 class="steps-title">4. Enjoy superb results</h4>
                <div class="divider"></div>
                <p class="steps-description">Once your order is complete, enjoy the growth of your social media account.
                </p>
            </div>
        </div>

    </section>

    <!-- Success Stories -->
    <section class="container">
        <div class="heading-section">
            <h3>Success Stories</h3>
            <p>Check out some of our customers' success stories below.</p>
        </div>

        <div class="card-wrapper">
            <div class="card review">
                <p>I couldn't figure out the best way to promote my business online that could be effective and affordable
                    at the same time. This SMM panel is the best solution I've found so far! Just check their prices — you
                    really can't go wrong with that.</p>
                <h4>Jane Kim</h4>
            </div>
            <div class="card review">
                <p>If you're wondering how you can help your social media accounts get more attention fast, this is it! No
                    need to wait for a long time either because SMM services on this panel are delivered super quickly. The
                    services are sooo cheap too.</p>
                <h4>Olivia Jenkins</h4>
            </div>
            <div class="card review">
                <p>When I just started my business, I didn't have a big budget and couldn't pay SMM agencies to work on my
                    accounts. But finding this SMM panel solved this problem for good — now I can order any SMM services I
                    want at such affordable prices!</p>
                <h4>Roy Jefferson</h4>
            </div>
            <div class="card review">
                <p>I help individuals and businesses get their social media pages noticed online, and this SMM panel
                    definitely makes my job so much easier. It also helped me earn so much more, highly, HIGHLY recommend.
                </p>
                <h4>Deepak Puri</h4>
            </div>
        </div>
        
    </section>

    <!-- FAQ -->
    

    <!-- Navbar -->
    <!-- <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Signup</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">API</a></li>
        </ul>
    </nav> -->
</body>
</html>

<!-- <section class="container">
    <div class="heading-section">
        <h3>Top 5 Most Asked Questions</h3>
        <p>We gathered 5 of the most asked questions from our panel visitors and replied to them.</p>
    </div>

    <div class="questions">
        <h4>What makes people look for SMM panels?</h4>
        <h4>Are SMM services on this panel safe to order?</h4>
        <h4>How does the Drip-feed feature work?</h4>
        <h4>What SMM services does your panel provide?</h4>
        <h4>Mass orders — how do they work?</h4>
    </div>

    <div class="answers">
        <p>SMM panels are online stores that offer SMM services of different kinds.</p>
        <p>Of course! It's definitely safe to use all our SMM services, you won't lose your accounts.</p>
        <p>Grow your accounts as fast as you want with the help of Drip-feed. How it works: let's say you want 2000 likes on your post. Instead of getting all 2000 at once, you can get 200 each day for 10 days.</p>
        <p>On our panel, we sell different types of SMM services: likes, followers, views, etc.</p>
        <p>A mass order is an effective way for users to save time, since it allows to place multiple orders with different links at once.</p>
    </div>
</section> -->